
<div class="container-title">
<h1>Produits</h1>
</div>


  <div class="container-all">
    <div *ngFor="let product of lstProduct">
      <div class="container-product" (click)="goToDetail(product)" appBorderCard>
        <!-- <div class="card-image">
          <img [src]="product.picture" />
        </div> -->

        <div class="container-txt">
          <div>
            <p>{{ product.name }}</p>

            <p>
              <small>{{ product.price }} $</small>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container-icones">
    <button class="btn-icones" (click)="goCreate()">+</button>

</div>

<h3 *ngIf="!lstProduct">
  <app-loader></app-loader>
</h3>
